<nav>
    <ul>
        {% if current_user.is_authenticated %}
        <li>{{ current_user.username}}</li>
        <li><a href="{{url_for('main.dashboard')}}">Domů</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Odhlásit se</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login_page') }}">Přihlas se</a></li>
        {% endif %}
    </ul>
</nav>