{% extends 'base.html' %}

{% block content %}
<p>Vítej uživateli {{current_user.username}}</p>
<p>Bydlíš na <a href="{{ url_for('main.habitat_overview', id_habitat=current_user.habitat_id) }}">základně {{
    data.user_habitat.name }}</a>, která se nachází na souřadnicích [{{data.user_habitat.x_position}};
    {{data.user_habitat.y_position}}]</p>
{% endblock content %}
    