{% extends 'base.html' %}

{% block content %}
<h1>Základna {{ data.habitat.name }}</h1>
<p>Pozice x: {{data.habitat.x_position}}; y: {{data.habitat.y_position}}</p>
{% if data.majordomus %}
<p>Majordomus: {{data.majordomus.first_name}} {{data.majordomus.last_name}}</p>
{% else %}
<p>Základna nemá majordoma</p>
{% endif %}


<h2>Obyvatelé základny ({{data.number_of_inhabitants}}/{{data.habitat.maximum_inhabitants}}) </h2>
{% if data.inhabitants %}
<table>
    <tr>
        <th>Jméno</th>
        <th>Pohlaví</th>
        <th>Role</th>
    </tr>
    {% for person in data.inhabitants %}
    <tr>
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.role}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<span>Na základně nikdo nebydlí</span>
{% endif %}

{% endblock content %}