{% extends 'base.html' %}

{% block content %}
<h2>Přihlášení</h2>
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label() }}
    {% if form.username.errors %}
    <ul>
        {% for error in form.username.errors %}
        <li> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.username() }}

    {{ form.password.label() }}
    {% if form.password.errors %}
    <ul>
        {% for error in form.password.errors %}
        <li> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.password() }}

    {{ form.remember.label() }}
    {{ form.remember() }}

    {{ form.submit.label() }}
    {{ form.submit() }}

</form>
{% endblock %}
