<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ title }} | Colonize App</title>
</head>

<body>
{% include 'components/_navbar.html' %}

<main>
    {% block content %}

    {% endblock content %}
</main>

{% include 'components/_footer.html' %}
</body>

</html>